---
- name: Setting up workload for user
  debug:
    msg: "Setting up workload for user ocp_username = {{ ocp_username }}"

# Set up the combined dictionary for the workload
- name: Set up ocp_infra_aiedge combined dictionary
  set_fact:
    ocp_infra_aiedge: >-
      {{ ocp_infra_aiedge_defaults
       | combine(ocp_infra_aiedge_vars    | default( {} ),
                 ocp_infra_aiedge_secrets | default( {} ), recursive=true )
      }}


# Because now secrets are part of the combined dictionary use
# verbosity 2 to prevent printing the dictionary during every run.
- name: Print combined role variables
  debug:
    var: ocp_infra_aiedge
    verbosity: 2

- name: "Set the location directory where the repo will be saved: {{ ocp_infra_aiedge.manuela_dev_repo }}"
  tempfile:
    state: directory
    suffix: manuela
  register: manuela_root_dir

- set_fact:
    manuela_dev_repo_dir: "{{ manuela_root_dir.path }}/manuela-dev"
    manuela_gitops_repo_dir: "{{ manuela_root_dir.path }}/manuela-gitops"

# Clone the manuela dev & gitops repo and create a branch for the demo
- name: "Clone dev repo: {{ ocp_infra_aiedge.manuela_dev_repo }} @ {{ ocp_infra_aiedge.manuela_dev_repo_version }}"
  git:
    repo: "{{ ocp_infra_aiedge.manuela_dev_repo }}"
    version: "{{ ocp_infra_aiedge.manuela_dev_repo_version }}"
    dest: "{{ manuela_dev_repo_dir }}"

- name: "Clone gitops repo: {{ ocp_infra_aiedge.manuela_gitops_repo }} @ {{ ocp_infra_aiedge.manuela_gitops_repo_version }}"
  git:
    repo: "{{ ocp_infra_aiedge.manuela_gitops_repo }}"
    version: "{{ ocp_infra_aiedge.manuela_gitops_repo_version }}"
    dest: "{{ manuela_gitops_repo_dir }}"

- name: "Set the git config user name & email"
  shell:
    chdir: "{{ item }}"
    cmd: "git config user.name {{ ocp_infra_aiedge_defaults.git_config.user }}; git config user.email '{{ ocp_infra_aiedge_defaults.git_config.email }}'"
  loop:
    - "{{ manuela_gitops_repo_dir }}"
    - "{{ manuela_dev_repo_dir }}"

- name: Get cluster ingress config
  k8s_info:
    api_version: config.openshift.io/v1
    kind: ingress
    name: cluster
  register: cluster_config_ingress

# Wildcard domain is the base domain for all project routes in the cluster
- set_fact:
    cluster_wildcard_domain: cluster_config_ingress.spec.domain

- name: "Replace all gitops repo url references with {{ ocp_infra_aiedge.manuela_dev_repo }}"
  replace: 
    path: "{{ manuela_gitops_repo_dir }}/{{ item }}"
    regexp: 'https:\/\/github\.com\/sa-mw-dach\/manuela-gitops.git'
    replace: "{{ ocp_infra_aiedge.manuela_gitops_repo }}"
  loop:
    - "config/instances/manuela-quickstart/manuela-quickstart-line-dashboard-application.yaml"
    - "config/instances/manuela-quickstart/manuela-quickstart-messaging-application.yaml"
    - "config/instances/manuela-quickstart/manuela-quickstart-machine-sensor-application.yaml"

- name: "Replace all gitops repo branch references with {{ ocp_infra_aiedge.manuela_dev_repo }}"
  replace: 
    path: "{{ manuela_gitops_repo_dir }}/{{ item }}"
    regexp: '(targetRevision:\s+).+$'
    replace: '\1{{ ocp_infra_aiedge.manuela_gitops_repo_demo_branch }}'
  loop:
    - "config/instances/manuela-quickstart/manuela-quickstart-line-dashboard-application.yaml"
    - "config/instances/manuela-quickstart/manuela-quickstart-messaging-application.yaml"
    - "config/instances/manuela-quickstart/manuela-quickstart-machine-sensor-application.yaml"


# Leave this as the last task in the playbook.
# --------------------------------------------
- name: workload tasks complete
  debug:
    msg: "Workload Tasks completed successfully."
  when: not silent|bool
